body {
height: 100%;
background: #ffd4b5; /* Old browsers */
background: -moz-linear-gradient(top, #ffd4b5 0%, #8ea2fb 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffd4b5 0%,#8ea2fb 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffd4b5 0%,#8ea2fb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd4b5', endColorstr='#8ea2fb',GradientType=0 ); /* IE6-9 */
}

.index_chat{
	height: 100%;
}

.container_login_form{
	margin-top: 5%;
}

.login_form{
	width: 320px;
	text-align: center;
	margin: auto;
}

.row{
	margin: 0px;
}

.login_form ul{
	padding-left: 45px;
	padding-right: 45px;
}

.login_form li{
	list-style-type: none;
	margin-top: 10px;
	border-bottom: 1px solid #009fa5;
	color: #009fa5;
}

.login_form li:hover{
	list-style-type: disc;
}

.login_form li:focus{
	list-style-type: disc;
}

.login_form input{
	display: inline;
	box-shadow: none;
	border: none;
	border-radius: 0px;
	background-color: inherit;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	font-weight: 300;
	list-style: none;
}

.login_form input:hover{
	box-shadow: none;
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	font-weight: 300;
}


.login_form input:focus{
	box-shadow: none;
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 18px;
	font-weight: 300;
}

.logo{
	margin-top: 90px;
	width: 136px;
	height: 155px;
	margin-bottom: 50px;
}

.btn_send_login{
	margin-top: 35px;
	margin-bottom: 35px;
	width: 260px;
	height: 40px;
	background-color: #009fa5;
	border: none;
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 21px;
	font-weight: 300;
}

.btn_send_login:hover{
	opacity: 1;
	background-color: white;
	color: #009fa5;
}

.go_to_reg a{
	color: #009fa5;
	opacity: 0.45;
	font-family: HelveticaNeueCyr;
	font-size: 17px;
	font-weight: 300;
	display: block;
    height: 30px;
}


.go_to_reg a:hover{
	text-decoration: none;
	color: #009fa5;
	opacity: 1;
}

.go_to_reg {
	border-bottom: solid 1px #5faadb;
	width: 120px;
	margin: auto;
	height: 30px;
}

.go_to_reg:hover {
	border-bottom: solid 1px #009fa5;
}

.avatar_reg{
	margin-top: 20px;
	width: 65px;
}
.avatar_reg a{
	font-size: 20px;
}

.form-control[type="text"]::-webkit-input-placeholder {
	opacity: 0.6;
	color: #465252;
}

.form-control[type="text"]::-moz-placeholder  {
	opacity: 0.6;
	color: #465252;
}

.form-control[type="text"]:-ms-input-placeholder  {
	opacity: 0.6;
	color: #465252;
}

.form-control:hover[type="text"]::-webkit-input-placeholder {
	color: #009fa5;
	opacity: 1;
}

.form-control:hover[type="text"]::-moz-placeholder  {
	color: #009fa5;
	opacity: 1;
}

.form-control:hover[type="text"]:-ms-input-placeholder  {
	color: #009fa5;
	opacity: 1;
}

a:focus{ 
outline: 0 !important; 
}


.mesage_area{
    height: 50%;
    overflow-y: scroll;
    background-color: none;
    width: 100%;
	margin: auto;
	position: fixed;
	top: 50px;
}

.wrapper_show_chat {
	position: fixed;
}

.chat_type{
	height: 53px;
	width: 100%;
	position: fixed;
	background-color: rgb(0, 159, 165);
	z-index: 90;
}

.com_chat {
	top: 60%;
	height: 20%;
	max-height: 20%;

}

.chat_type ul{
	width: 350px;
	margin: auto;
	border: none;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 23px;
	font-weight: 300;
	cursor: default;
	border: 0px;
	border-bottom-color: transparent;
	opacity: 1;
	text-decoration: underline;
	background-color: rgb(0, 159, 165);
}

.nav-tabs > li > a {
	border: 0px;
	border-radius: 0px;
	background-color: #798d9e;
	opacity: 0.5;
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 23px;
	font-weight: 300;
	background-color: rgb(0, 159, 165);
}

.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color:  #798d9e;
}


.vip-info {
	background-color: none;
	width: 100%;
	position: fixed;
	height: 50%;
	overflow-y: scroll;
	top: 50px;
}

.vip_title {
	position: fixed;
	height: 50px;
}

.ava_radio{
	display: none !important;
}

label img{
	border: 2px solid #333333;
	margin: 5px;
}

.ava_radio:checked + label img
{
    border: 2px solid red;
}

.log_out{
	position: fixed;
	top: 5px;
	right: 15px;
	color: white;
	font-family: HelveticaNeueCyr;
	font-size: 14px;
	font-weight: 300;
	opacity: 0.7;
	z-index: 500;
}

.log_out:hover{
	opacity: 1;
}


@media screen and (max-width: 420px) {
	.login_form{
		width: 100%;
	}

	.chat_type ul{
	width: 230px;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	font-size: 16px;
	}	

	.nav-tabs > li > a {
	font-size: 16px;
	}
}